<div id="mail_identities_settings_popup" class="header_color" style="display: none">
    <a href="#" data-rel="back" class="ui-btn ui-btn-b ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
    <h5 class="h5_color"><roundcube:label name="identities" /></h5>  
    <roundcube:object name="identitiesList" id="identities-table" class="records-table" cellspacing="0" summary="Identities list" noheader="true" editIcon="" />
</div>

<div id="inner_mail_footer" data-role="footer" data-position="fixed">
    <roundcube:include file="/includes/settingstabs.html" />
    
    <a id="mail_settings_tab" href="#" class="ui-btn ui-icon clickit"></a>
    <a id="mail_identities_settings" href="#" class="ui-btn ui-icon clickit"></a>
    <roundcube:if condition="env:action!='edit-identity'" />
    <a id="mail_identities_add" href="javascript:void(0)" onclick="rcmail.command('add', '', this);" class="ui-btn ui-icon"></a>
    <roundcube:endif />
</div>