<link rel="stylesheet" type="text/css" href="/styles.min.css" />
<link rel="stylesheet"  href="/css/jquery.mobile-1.4.2.css">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=1, user-scalable=yes">
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/custom.min.js"></script>
<script src="/js/jquery.mobile-1.4.2.min.js"></script>