<div id="mail_settings_tab_popup" class="header_color" style="display: none">
    <roundcube:button command="preferences" type="link" label="preferences" title="editpreferences" />
    <roundcube:button command="folders" type="link" label="folders" title="managefolders" class="tablink" />
    <roundcube:button command="identities" type="link" label="identities" title="manageidentities" class="tablink" />
    <roundcube:button command="about" name="about" type="link" label="about" class="about-link" />
</div>
